<div class="container">
  <h1>Feedback Score Distribution</h1>
  <div class="col-md-4"></div>
  <div class="col-md-4"><p><center>Select a Presentation:<select name="singleSelect" ng-options="pres.title for pres in allPresentations" ng-model="selectedOption"></select></center></p></div>
  <div class="row previous-presentation">
    <div class="col-md-4">
      <h2>Presentation Title</h2>
      <div class="data">

        {{title}}
      </div>
    </div>
    <div class="col-md-4">
      <h2>Date</h2>
      <div class="data">{{date | date : "mediumDate" }}</div>
    </div>
    <div class="col-md-4">
      <h2>Feedback Received</h2>
      <div class="data">{{feedbacks}}</div> 
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  <div id="distChart">
  </div>
  </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-md col-md-3 col-md-offset-4" data-toggle="modal" data-target="#myModal">
    Click for Comments
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Comments</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <table class="table table-striped">
              <tbody>
                <tr ng-repeat='comment in comments track by $index'>
                  <td class='colorComment'>
                    <h4 style="text-align:left">{{ comment }}</h4>
                  </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


</div>